body {
        background-color: white;
        color: white;
        font-size: 60px;
}

.box {
    position: fixed;
    top:0;
    right: 0;
    background-color: black;
    width: 350px;
    height: 350px;
}

.box2 {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: black;
    width: 350px;
    height: 350px;
}

.box3 {
    position: fixed;
    top: 60px;
    left: 0;
    background-color: AFCFEF;
    width: 545px;
    height: 35px;
}

}
.circle {
    width: 100px;
    height: 100px;
    border-radius: 100%
    background-color: blue; 
}

xdiv {
    width: 200px;
    height: 200px;
    border-radius: 100%
    background-color: blue;
    padding-left: 30px;
    padding-top: 30px;
    border: 20px dotted black;
    margin: 40px;
}

.container {
    width: 400px;
}

.cirlce2 {
    background-color: blue; 
    width:100px;
    height:100px;
    border-radius: 100%;
    position: absolute
    top: 20px;
    left: 40px;
}

.cirlce3 {
    background-color: orange; 
    width:100px;
    height:100px;
    border-radius: 100%;
    position: absolute
    top: 20px;
    left: 40px;
}

a {
    color: green;
    text-decoration: none;
}
